modules = ["bash", "bun-1.1", "bun-1.2", "c-clang14", "clojure-1.11", "clojure-1.12", "cpp-clang14", "dart-2.18", "dart-3.5", "deno-2", "dotnet-7.0", "dotnet-8.0", "elixir-1_17", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 43264405
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
